POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

VITE_API_BASE_URL=
CORS_ALLOWED_ORIGINS=

SECRET_KEY=replace-me
DEBUG=True
ALLOWED_HOSTS=
FRONTEND_URL=
BASE_DOMAIN=
IP_HASH_SALT=replace-me
